.inicio_login button{
    height: 2.1rem;
    width: 10rem;
    border: .15rem solid  #2A7AE4;
    border-radius: 1rem ;
    background-color: white;
    font-size: 1rem;
    font-weight: bolder;
    color: #2A7AE4;
   
}