.contenidos_titulo_mas{
    display: flex;
    justify-content: space-between;
}

.contenidos_titulo_mas a{
    padding: 3rem;
    color: #2A7AE4;
    font-size: 1.5rem;
    background-image: url(../../../img/arrow.svg);
    background-repeat:no-repeat ;
    background-position: 140px 51px;
}

.contenidos_titulo_mas h3{
    font-size: 2rem;
    padding: 2rem;
    
}